:root {
  --roller: #0b3a66;
  --blinds: #5ec5e6;
  --bg: #f9f9f9;
  --text: #333;
  --white: #fff;
  --muted: #6b7280;
  --transition: all 0.3s ease;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* MAIN PRODUCT CONTAINER */
.product-page {
    display: flex;
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

/* LEFT SIDE */
.left-section {
    width: 50%;
}

.main-image-box img {
    width: 75%;
    border-radius: 6px;
    object-fit: cover;
}

.thumbnail-row {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.thumbnail-row img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
}

.thumbnail-row img:hover {
    border: 2px solid var(--roller);
}

/* RIGHT SIDE */
.right-section {
    width: 50%;
}

.right-section h2 {
    font-size: 1.9rem;
    margin-bottom: 10px;
}

.price {
    font-size: 1.2rem;
    margin: 10px 0;
}

.rating span {
    color: gray;
}

.desc {
    font-size: 0.95rem;
    margin: 20px 0;
}

.input-box {
    margin: 20px 0;
}

.input-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-box input {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 1rem;
}

.add-cart {
    background: var(--white);
    color: var(--roller);
    border: 2px solid var(--roller);
  
  border-radius: 8px;
    padding: 15px 40px;
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
}

.add-cart:hover {
    background: var(--blinds);
    color: white;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .product-page {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
    }
}

